<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="log-path">/var/log</Property>
    </Properties>
    <Appenders>
<!--        <RollingFile name="DefaultFile"
                fileName="${log-path}/sabbat.location.cep.log"
                filePattern="${log-path}/sabbat.location.cep.%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-dd-MM HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-dd-MM HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>

        <Logger name="console" level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="DefaultFile"/>-->
        </Root>
    </Loggers>
</Configuration>