<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- services -->
    <!--<import resource="classpath:spring/spring-infrastructure-common.xml"/>-->
    <import resource="classpath:spring/spring-location-integration.xml"/>

    <bean id="ActivityRemoteServiceNative" class="sabbat.location.infrastructure.client.implementations.RabbitMqActivityRemoteService" />
</beans>