<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:int="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <rabbit:connection-factory
            id="connectionFactory"
            cache-mode="CONNECTION"
            connection-cache-size="25"
            host="rabbitmq-node"
            port="5672"
            username="guest"
            password="guest"/>

    <!-- queue, topic, echange -->
    <rabbit:queue id="activityCommandQueue" name="{location.activity.queue.command}" />
    <rabbit:queue id="activityTrackingQueue" name="{location.activity.queue.tracking}" />

    <rabbit:topic-exchange id="activityCommandExchange" name="{location.activity.exchange.command}">
        <rabbit:bindings>
            <rabbit:binding pattern="location-activity.command.*"
                            exchange="{location.activity.exchange.command}"
                            queue="{location.activity.queue.command}"/> <!-- all commands (e.g. start, stop) -->
        </rabbit:bindings>
    </rabbit:topic-exchange>

    <rabbit:topic-exchange id="activityTrackingExchange" name="{location.activity.exchange.tracking}">
        <rabbit:bindings>
            <rabbit:binding pattern="location-activity.tracking.*"
                            exchange="{location.activity.exchange.tracking}"
                            queue="{location.activity.queue.tracking}"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>

    <!-- TEMPLATES -->
</beans>