<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/rabbit
        http://www.springframework.org/schema/rabbit/spring-rabbit-1.5.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd">

    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer" />

    <task:executor id="serviceTaskExecuter" pool-size="10" />

    <rabbit:connection-factory
            id="serviceConnectionFactory"
            host="${spring.rabbitmq.host}"
            port="${spring.rabbitmq.port}"
            username="guest"
            password="guest"
            executor="serviceTaskExecuter"/>

    <rabbit:admin id="serviceAdmin"
                  connection-factory="serviceConnectionFactory"/>

    <bean id="ActivityRabbitListener" class="sabbat.location.infrastructure.service.adapter.ActivityRabbitListener" scope="singleton" />

    <!--<bean id="ActivityRabbitListenerTyped" class="sabbat.location.infrastructure.service.adapter.ActivityMessageRabbitListener" scope="singleton" />-->

<!--    <bean id="rabbitListenerContainerFactory2"
          class="sabbat.location.infrastructure.common.ExtendedRabbitListenerContainerFactory">
        <property name="connectionFactory" ref="serviceConnectionFactory"/>
        <property name="concurrentConsumers" value="3"/>
        <property name="maxConcurrentConsumers" value="10"/>
        <property name="taskExecutor" ref="serviceTaskExecuter" />
        <property name="messageConverter" ref="jackson2JsonMessageConverter" />
        <property name="autoDeclare" value="true" />
    </bean>-->

</beans>