<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- services -->
    <!--<import resource="classpath:spring/spring-infrastructure-common.xml"/>-->
    <!--<import resource="classpath:spring/spring-location-integration.xml"/>-->
    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer" />

    <bean id="cassandraActivityRepository" class="sabbat.location.infrastructure.persistence.activity.CassandraActivityRepository">
        <constructor-arg type="org.springframework.data.cassandra.core.CassandraTemplate" ref="cassandraTemplate"/>
    </bean>
</beans>