<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:int="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="connectionFactory"
      class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
        <constructor-arg  ref="connectionFactory"/>
        <property name="username" value="guest"/>
        <property name="password" value="guest"/>
    </bean>

    <rabbit:connection-factory
            id="connectionFactory" cache-mode="CONNECTION" connection-cache-size="25"
            host="rabbitmq-node" port="5672"/>

    <bean id="RabbitMqActivityServiceActivator" class="sabbat.location.infrastructure.client.implementations.RabbitMqActivityServiceActivator" />

    <int:service-activator
            id="rabbitmq"
            input-channel="activityRequestChannel"
            output-channel="activityReplyChannel"
            ref="RabbitMqActivityServiceActivator"
            method="start"/>

    <int:service-activator
            id="rabbitMqStart"
            input-channel="activityRequestChannel"
            output-channel="activityReplyChannel"
            ref="RabbitMqActivityServiceActivator"
            method="start"/>

    <int:service-activator
            id="rabbitMqStop"
            input-channel="activityRequestChannel"
            output-channel="activityReplyChannel"
            ref="RabbitMqActivityServiceActivator"
            method="stop"/>

    <int:service-activator
            id="rabbitMqUpdate"
            input-channel="activityRequestChannel"
            output-channel="activityReplyChannel"
            ref="RabbitMqActivityServiceActivator"
            method="update"/>
</beans>