<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/rabbit
        http://www.springframework.org/schema/rabbit/spring-rabbit-1.5.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd
        http://www.springframework.org/schema/integration
        http://www.springframework.org/schema/integration/spring-integration.xsd">

    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer" />

<!--    <bean id="connectionFactoryTmp"
      class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
        <constructor-arg  ref="clientConnectionFactory"/>
        <property name="username" value="guest"/>
        <property name="password" value="guest"/>
    </bean>-->

    <task:executor id="serviceTaskExecuter" pool-size="5"/>

    <rabbit:connection-factory
            id="clientConnectionFactory"
            host="${spring.rabbitmq.host}"
            port="${spring.rabbitmq.port}"
            username="guest"
            password="guest"
            executor="serviceTaskExecuter"
            publisher-confirms="true"
            publisher-returns="true"/>

    <rabbit:admin id="admin" connection-factory="clientConnectionFactory" />

    <!-- queue, topic, echange -->
<!--    <rabbit:topic-exchange id="activityCommandExchange"
                           name="${location.activity.exchange.command}"
                           durable="false"
                           auto-declare="true"
                           auto-delete="true"
                           declared-by="admin" />-->

<!--    <rabbit:topic-exchange id="activityTrackingExchange"
                           name="${location.activity.exchange.tracking}"
                           durable="false"
                           auto-declare="true"
                           auto-delete="true"
                           declared-by="admin" />-->

    <!-- fixed start command reply queue -->
    <rabbit:queue id="activityCommandReplyQueue"
                  name="${location.activity.queue.command.reply}"
                  declared-by="admin"
                  auto-delete="true"
                  durable="false"
                  auto-declare="true"/>

    <!-- TEMPLATES -->
<!--    <rabbit:template id="activityCommandTemplate"
                     connection-factory="clientConnectionFactory"
                     exchange="${location.activity.exchange.command}"
                     mandatory="true"
                     reply-queue="activityCommandReplyQueue">
                     <rabbit:reply-listener />
    </rabbit:template>-->

    <bean id="retryTemplate" class="org.springframework.retry.support.RetryTemplate">
        <property name="backOffPolicy">
            <bean class="org.springframework.retry.backoff.ExponentialBackOffPolicy">
                <property name="initialInterval" value="500" />
                <property name="multiplier" value="10.0" />
                <property name="maxInterval" value="10000" />
            </bean>
        </property>
    </bean>


</beans>