<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/rabbit
        http://www.springframework.org/schema/rabbit/spring-rabbit-1.5.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd">

    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer" />

    <task:executor id="serviceExecuter" pool-size="5"/>

    <rabbit:connection-factory
            id="serviceConnectionFactory"
            host="${rabbitmq-hostname}"
            port="5672"
            username="guest"
            password="guest"/>
    <rabbit:admin id="serviceAdmin" connection-factory="serviceConnectionFactory" />

    <bean id="RabbitMqActivityMessageListenerAdapter" class="sabbat.location.infrastructure.service.adapter.RabbitMqActivityMessageListener" scope="singleton" />
    <bean id="RabbitMqActivityAdapter" class="sabbat.location.infrastructure.service.adapter.RabbitMqActivityAdapter" scope="singleton"/>
    <bean id="RabbitMqActivityRabbitListener" class="sabbat.location.infrastructure.service.adapter.RabbitMqActivityRabbitListener" scope="singleton"/>

    <rabbit:queue id="activityCommandQueue"
                  name="${location.activity.queue.command}"
                  declared-by="serviceAdmin"
                  auto-declare="true"
                  durable="true" />

    <rabbit:topic-exchange
            id="activityCommandExchange"
            name="${location.activity.exchange.command}"
            declared-by="serviceAdmin"
            auto-declare="true">
        <rabbit:bindings>
            <rabbit:binding queue="activityCommandQueue" pattern="${location.activity.routingkey.command.all}"/>
                </rabbit:bindings>
    </rabbit:topic-exchange>

<!--    <rabbit:listener-container task-executor="serviceExecuter"
                               connection-factory="serviceConnectionFactory"
                               auto-startup="true">
        <rabbit:listener queues="${location.activity.queue.command}"
                         ref="RabbitMqActivityRabbitListener"
                        method="onMessage" />
                         &lt;!&ndash;response-exchange="${location.activity.queue.command.reply}"&ndash;&gt;
    </rabbit:listener-container>-->

    <bean id="rabbitListenerContainerFactory"
          class="org.springframework.amqp.rabbit.config.SimpleRabbitListenerContainerFactory">
        <property name="connectionFactory" ref="serviceConnectionFactory"/>
        <property name="concurrentConsumers" value="3"/>
        <property name="maxConcurrentConsumers" value="10"/>
        <property name="taskExecutor" ref="serviceExecuter" />
    </bean>

<!--    <bean id="activityCommandBinder" class="sabbat.location.infrastructure.RabbitMqQueueBinder">
        <constructor-arg index="0" ref="serviceAdmin" />
        <constructor-arg index="1" ref="activityCommandQueue" />
        <constructor-arg index="2" ref="activityCommandExchange" />
        <constructor-arg index="3" value="${location.activity.routingkey.command.all}" />
    </bean>-->
</beans>