<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<mvc:annotation-driven/>-->
    <!--<context:component-scan base-package="sabbat.apigateway.location.config"/>-->

    <alias name="stubNotificationService" alias="userNotificationService"/>
    <alias name="jpaActivityRepository" alias="activityRepository"/>
    <alias name="oktaAccountService" alias="accountService"/>
    <alias name="javaxEmailSender" alias="emailSender"/>

    <alias name="userCoordinateRepository" alias="cassandraUserCoordinateRepository"/>
    <alias name="measurementApplicationService" alias="DefaultMeasuermentApplicationService"/>
</beans>