<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<import resource="services.xml"/>
    <import resource="resources/messageSource.xml"/>
    <import resource="/resources/themeSource.xml"/>-->

    <bean id="MessageApplicationService"
          class="org.springframework.samples.jpetstore.dao.jpa.JpaAccountDao">
        &lt;!&ndash; additional collaborators and configuration for this bean go here &ndash;&gt;
    </bean>

    <!-- more bean definitions for data access objects go here -->

</beans>