<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="log-path">/var/log</Property>
    </Properties>
    <Appenders>
        <RollingFile name="DefaultFile"
                fileName="${log-path}/sabbat.location.apigateway.log"
                filePattern="${log-path}/sabbat.location.apigateway.%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-dd-MM HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="TrafficFile"
                     fileName="${log-path}/sabbat.location.apigateway.traffic.log"
                     filePattern="${log-path}/sabbat.location.apigateway.traffic.%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-dd-MM HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-dd-MM HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="apigateway.traffic" level="DEBUG">
            <!--<AppenderRef ref="Console"/>-->
            <AppenderRef ref="TrafficFile"/>
        </Logger>

        <Logger name="location.console" level="debug">
            <AppenderRef ref="Console"/>
        </Logger>

<!--        <Logger name="sabbat.apigateway.location.controller.MapMyTracksApiController" level="debug">
            &lt;!&ndash;<AppenderRef ref="DefaultFile"/>&ndash;&gt;
        </Logger>-->

        <Logger name="sabbat.apigateway"
                level="debug">
            <!--<AppenderRef ref="DefaultFile"/>-->
        </Logger>

        <Logger name="sabbat.location.infrastructure"
                level="debug">
            <!--<AppenderRef ref="DefaultFile"/>-->
        </Logger>

        <Logger name="sabbat.shared"
                level="debug">
            <!--<AppenderRef ref="DefaultFile"/>-->
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="DefaultFile"/>
        </Root>
    </Loggers>
</Configuration>