<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="log-path">/var/log/messages</Property>
    </Properties>
    <Appenders>
        <RollingFile name="DefaultFile"
                fileName="${log-path}/sabbat.location.apigateway.log"
                filePattern="${log-path}/sabbat.location.apigateway.%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="TrafficFile"
                     fileName="${log-path}/sabbat.location.apigateway.traffic.log"
                     filePattern="${log-path}/sabbat.location.apigateway.traffic.%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="location.traffic" level="debug">
            <AppenderRef ref="TrafficFile"/>
        </Logger>

        <Logger name="location.console" level="debug">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="DefaultFile"/>
        </Root>
    </Loggers>
</Configuration>