<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--<mvc:annotation-driven/>-->
    <!--<context:component-scan base-package="sabbat.apigateway.location.config"/>-->

    <!-- services -->
    <!--<import resource="classpath:spring/spring-infrastructure-common.xml"/>  -->
    <!--<import resource="classpath:spring/spring-location-infrastructure.xml"/>-->
    <!--<import resource="classpath:spring/spring-location-amqp.xml"/>-->

    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer" />

    <!--<bean id="ReactiveMapMyTracksController" class="sabbat.apigateway.location.controller.ReactiveMapMyTracksController" />-->

    <bean id="StartActivityCommand" class="sabbat.apigateway.location.command.StartActivityCommand" lazy-init="true">
        <property name="ActivityRemoteService" ref="RabbitMqActivityRemoteService"/>
    </bean>

    <bean id="StartActivityCommandDummy" class="sabbat.apigateway.location.command.StartActivityCommandDummy" lazy-init="true" scope="prototype"/>

    <bean id="StopActivityCommand" class="sabbat.apigateway.location.command.StopActivityCommand" lazy-init="true">
        <property name="ActivityRemoteService" ref="RabbitMqActivityRemoteService"/>
    </bean>

    <bean id="LocationApiDtoConverter" class="sabbat.apigateway.location.controller.converter.LocationApiDtoConverter" scope="singleton" />

    <bean id="UpdateActivityCommand" class="sabbat.apigateway.location.command.UpdateActivityCommand" lazy-init="true">
        <property name="ActivityRemoteService" ref="RabbitMqActivityRemoteService"/>
        <property name="DtoConverter" ref="LocationApiDtoConverter"/>
    </bean>

    <bean id="ActivityCommandFactory" class="sabbat.apigateway.location.command.ActivityCommandFactory">
        <lookup-method name="createStartActivityCommand"
                       bean="StartActivityCommand"/>
        <lookup-method name="createStopActivityCommand"
                       bean="StopActivityCommand"/>
        <lookup-method name="createUpdateActivityCommand"
                       bean="UpdateActivityCommand"/>
    </bean>

<!--    <bean id="MySpringBootServletInitializer" class="sabbat.apigateway.location.configfig.MySpringBootServletInitializer">
    </bean>-->

    <!--<bean id="LocationDispatcherServletInitializer" class="sabbat.apigateway.location.config.LocationDispatcherServletInitializer" />-->

    <!-- more bean definitions for services go here -->

</beans>