<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--<mvc:annotation-driven/>-->
    <!--<context:component-scan base-package="sabbat.apigateway.location.config"/>-->

    <!-- services -->
    <!--<import resource="classpath:spring/spring-infrastructure-common.xml"/>  -->
    <import resource="classpath:spring/spring-location-infrastructure.xml"/>

    <!--<bean id="DispatcherServletInitializer" class="sabbat.apigateway.location.config.MyDispatcherServletInitializer" />-->

    <bean id="ReactiveMapMyTracksController" class="sabbat.apigateway.location.controller.ReactiveMapMyTracksController">
    </bean>

    <bean id="MapMyTracksApiController" class="sabbat.apigateway.location.controller.MapMyTracksApiController">
        <constructor-arg ref="ActivityCommandFactory" />
    </bean>

    <bean id="StartActivityCommand" class="sabbat.apigateway.location.command.StartActivityCommand" lazy-init="true">
        <property name="ActivityRemoteService" ref="ActivityRemoteService"/>
    </bean>

    <bean id="ActivityCommandFactory" class="sabbat.apigateway.location.command.ActivityCommandFactory">
        <lookup-method name="createStartActivityCommand"
                       bean="StartActivityCommand"/>
    </bean>



<!--    <bean id="MySpringBootServletInitializer" class="sabbat.apigateway.location.configfig.MySpringBootServletInitializer">
    </bean>-->

    <!--<bean id="MyDispatcherServletInitializer" class="sabbat.apigateway.location.configfig.MyDispatcherServletInitializer" />-->

    <!-- more bean definitions for services go here -->

</beans>